<div class="input-group-text col-lg-12">
  <div class="input-group col-8">
    <input type="text" class="form-control" #newTodo placeholder="Add new to do..."
           (keydown.enter)="[addNewItem(newTodo.value), this.newTodo.value='']">
    <button class="btn btn-success" (click)="[addNewItem(newTodo.value), this.newTodo.value='']">Add todo</button>
  </div>
  <div class="input-group col-4">
    <input type="text" class="form-control" #searchWord placeholder="Search for..." (input)="search(searchWord.value)">
  </div>
</div>
